@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

body {
	font-family: 'Lato';
	color: #424551;
}

.wrapper {
	overflow: hidden;
	min-height: 100%;
	position: relative;


	display: flex;
	flex-direction: column;
}

.wrapper > main {
	flex-grow: 1;
}

[class*="__container"] {
	max-width: 1260px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}

/* ========================================= */
.main {
}
.main__enjoy {
}
/* ========content======== */

.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 20px 0px;
	z-index: 50;
	background: rgb(255, 255, 255, 0.2);

}

.heder__container {
	display: flex;
	align-items: center;
	gap: 60px;
}
.header__logo {
}



.header__menu {
	flex-grow: 1;
}

.menu__items {
	display: flex;
	flex-wrap: wrap;
	column-gap: 40px;
	row-gap: 10px;
}

.menu__link {
	font-weight: 700;

}

.menu__link:hover {
	/* border-bottom: dotted rgb(241, 106, 4); */
	color: rgb(241, 106, 4);
}



.header__reg {
	flex-shrink: 0;
	display: flex;
	align-items: center;
	gap: 36px;
	flex-wrap: wrap;
}


.register__button {
}

.register__reg {
	background: url("../icon/logo2.svg") left no-repeat;
	padding-left: 22px;
	font-weight: 700;
	line-height: 1.25;
}

.register__reg:hover span{
	text-decoration: underline;
}

/* ========================================= */



.main__enjoy {
	position: relative;
	padding: 200px 0px 80px 0px;
	background: linear-gradient(55.95deg, rgb(255, 63, 58, 0.2) 0%, rgb(247, 94, 5, 0.2) 100%);}

.enjoy__container {
	position: relative;
	z-index: 5;
}
.enjoy__wrapper {
	margin-bottom: 190px;
}
.enjoy-wrap {
	display: flex;
}
.enjoy-wrap__main {
	flex: 0 1 50%;
	padding-right: 40px;
	align-self: center;
}

.enjoy-wrap__play {
	position: relative;
	font-weight: 700;
	font-size: 14px;
	color: #1E212C;
	display: inline-flex;
	align-items: center;
	gap: 16px;
}

.enjoy-wrap__play:not(:last-child) {
	margin-bottom: 55px;
}


.enjoy-wrap__play::before {
	content: "";
	flex: 0 0 52px;
	width: 52px;
	height: 52px;
	border-radius: 50%;
	background: #FF3F3A url('../icon/Polygon.svg') center no-repeat;
}

.enjoy-wrap__play::after {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 52px;
	height: 52px;
	border-radius: 50%;
	background: #FF3F3A;
	opacity: 0.12;
	transform: scale(1.6);
	animation: play-circle 1s infinite ease alternate;

}
@keyframes play-circle {
	0% {
		transform: scale(1)
	}

	100% {
		transform: scale(1.6)
	}
}


.enjoy-wrap__title {
	font-weight: 900;
	font-size: 64px;
	line-height: 130%;
	letter-spacing: 1px;
	color: #1E212C;
}

.enjoy-wrap__title:not(:last-child) {
	margin-bottom: 60px;
}
.enjoy__buttons {
	display: flex;
	align-items: center;
	gap: 24px;
}

.enjoy__buttons:not(:last-child) {
	margin-bottom: 40px;
}


.enjoy__img {
	flex: 0 1 50%;
	max-width: 107.8%;
	transform: translate(7.8%,0px);
}


.enjoy__adventages {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 20px;
}

.item-adventages {
	display: flex;
	align-items: center;
	gap: 12px;
}
.item__numb {
	font-weight: 900;
	font-size: 46px;
	line-height: 130%;
	color: #1E212C;
}
.item__text {
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5;
	
}

.item-adventages__circle {
	flex: 0 0 8px;
	height: 8px;
	background: #FF3F3A;
	border-radius: 50%;

}


.enjoy-block__item {
	position: absolute;
}
.enjoy-block__item--1 {
	background: url('../icon/01.svg') 0 0 no-repeat;
	width: 96px;
	height: 96px;
	top: 12%;
	left: 4%;
}
.enjoy-block__item--2 {
	background: url('../icon/02.svg') 0 0 no-repeat;
	width: 284px;
	height: 284px;
	left: -5.5%;
	bottom: -9.2;
}
.enjoy-block__item--3 {
	background: url('../icon/03.svg') 0 0 no-repeat;
	width: 88px;
	height: 47px;
	left: 42%;
	top: 47%;
}
.enjoy-block__item--4 {
	background: url('../icon/04.svg') 0 0 no-repeat;
	width: 61px;
	height: 61px;
	left: 39%;
	top: 73%;
}
.enjoy-block__item--5 {
	background: url('../icon/05.svg') 0 0 no-repeat;
	width: 187px;
	height: 137px;
	bottom:18%;
	right: -1.5%;
}
.enjoy-block__item--6 {
	background: url('../icon/01.svg') 0 0 no-repeat;
	width: 96px;
	height: 96px;
	top: -1.5%;
	right: 4%;
	transform: rotate(135deg);
}


/* ========================================= */


.who {
	position: relative;
}
.who__container {

}
.who__wrapper {
	display: flex;
	padding-top: 180px;
	gap: 135px;
	align-self: center;
}
.who__img {

}

.who__img img {
	width: 705px;
	height: 560px;
}
.who__content {
}
.who__title {
	margin-bottom: 40px;
}
.title {
}
.title__sub {
	font-weight: 700;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 1px;
	color: #1E212C;
	text-transform: uppercase;
	margin-bottom: 8px;
}
.title__main {
	font-weight: 900;
	font-size: 46px;
	line-height: 1.3;
	color: #1E212C;
}
.who__list {
	display: flex;
	flex-direction: column;
	gap: 12px;
	margin-bottom: 26px;
}
.who__item {
	position: relative;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.6;
	padding-left: 30px;
}

.who__item::before {
	content: "";
	background: url('../icon/chek.svg') left no-repeat;
	position: absolute;
	width: 16px;
   height: 15px;
	top: 6px;
	left: 0;

}
.who__decor {
	/* position: absolute; */
}

.who__decor1 {
	background: url('../icon/06.svg') 0 0 no-repeat;
	width: 214px;
	height: 233px;
	left: 0;
	top: 32.2%;
	transform: translateX(-52%);
	position: absolute;
}
.who__decor2 {
	background: url('../icon/07.svg') 0 0 no-repeat;
	width: 287px;
	height: 287px;
	position: absolute;
	right: -160px;
	bottom: 0px;
}
